{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Sujet</h1>

    <div>
        <div>
            <h3>{{room.title}}</h3>
            <p>{{room.content}}</p>
            <a href="{{ path("app_room_showOneRoom", {id:room.id}) }}">Revenir à tous les sujets !</a>
        </div>
    </div>
</div>
{% endblock %}