{% extends 'base.html.twig' %}

{% block title %}Forums{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Les forums</h1>

    <p><a href="{{path("app_room_create")}}">Créer un forum</a></p>

    <div>
        {% for room in rooms %}
        <div>
            <h3>{{room.title}}</h3>
            <p>{{room.description}}</p>
            <a href="{{ path("app_room_showRooms", {'id':room.id}) }}">Voir ce forum</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
