        <nav>
            <ul class="menu-list">
                <li id="menu-item1">Accueil</a></li>
                <li id="menu-item2"><a href="{{path("app_room_showRooms")}}">Les forums</a></li>
                <li id="menu-item3">Crée un forum</a></li>
            </ul>
        </nav>

        {# <a href="{{path("app_blog_showAll")}}"> #}
        {# <a href="{{path("app_blog_createCreature")}}"> #}